global
  daemon
  log         127.0.0.1 local2
  maxconn 4000
  stats socket /var/lib/haproxy/stats

defaults
  log global
  mode http
  option redispatch
  option httplog
  retries 3
  timeout http-request 10s
  timeout queue 1m
  timeout connect 10s
  timeout client 1m
  timeout server 1m
  timeout check 10s

listen admin
    bind :8081
    stats enable

{% if enable_mariadb | bool %}
listen mariadb
  mode tcp
  option tcplog
  option tcpka
  option mysql-check user haproxy
  bind :3306
{% for host in groups['galera_hosts'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:3306 check inter 2000 rise 2 fall 5 {% if not loop.first %}backup{% endif %}

{% endfor %}
{% endif %}

{% if enable_rabbitmq | bool %}
listen rabbitmq_management
  bind :15672
{% for host in groups['rabbitmq_hosts'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:15672 check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}

{% if enable_keystone | bool %}
listen keystone_public
  bind :5000
{% for host in groups['keystone_hosts'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:5000 check inter 2000 rise 2 fall 5
{% endfor %}

listen keystone_admin
  bind :35357
{% for host in groups['keystone_hosts'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:35357 check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}

{% if enable_glance | bool %}
listen glance_registry
  bind :9191
{% for host in groups['glance_hosts'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:9191 check inter 2000 rise 2 fall 5
{% endfor %}

listen glance_api
  bind :9292
{% for host in groups['glance_hosts'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:9292 check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}

{% if enable_novaapi | bool %}
listen nova_api
  bind :8774
{% for host in groups['novaapi_hosts'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:8774 check inter 2000 rise 2 fall 5
{% endfor %}

listen nova_api_ec2
  bind :8773
{% for host in groups['novaapi_hosts'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:8773 check inter 2000 rise 2 fall 5
{% endfor %}

listen nova_metadata
  bind :8775
{% for host in groups['novaapi_hosts'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:8775 check inter 2000 rise 2 fall 5
{% endfor %}

{% if nova_console == 'novnc' %}
listen nova_novncproxy
  bind :6080
{% for host in groups['novaapi_hosts'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:6080 check inter 2000 rise 2 fall 5
{% endfor %}
{% endif %}
{% endif %}

